#myTable {
  border: 1px solid black;
  border-spacing: 9px;
}

#myTable tbody tr td:nth-child(2){
  text-align: right;
}

#myTable tbody tr td:nth-child(3){
  text-align: right;
}

#competitorsTable {
  border: 1px solid black;
  border-spacing: 9px;
}
